.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.add-listing {
  background: #4caf50 !important;
  color: white !important;
}

.icon {
  font-size: medium !important;
}

.icon:hover {
  cursor: pointer
}

.text-gray {
  color: gray
}

.text-red {
  color: green

}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.listing-container {
  margin: 50px;
}

.listing-paper {
  padding: 50px;
}

.login {
  margin-top: 100px;
}

/* Listing */
.main-listings{
  margin: 30px
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px;
}

h1 {
  text-decoration: underline;
  display: flex;
  justify-content: center;

}

h2 {
  display: flex;
  justify-content: center;
}

body {
  background-color: #E1DFE1;
}

input {
  background-color: white;
}